@page "/Sistema/Index"
@inject SistemaService sistemaService
@rendermode InteractiveServer

<PageTitle>Registro de Sistemas</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header space-between">
            <h5 class="card-title">Registro de Tecnicos</h5>
            <a href="/Sistema/Create" class="btn btn-primary"> <span class="bi bi-plus-square mt-3"></span> Crear</a>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Descripcion">Descripcion</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

            </div>

            <table class="table table-hover">
                <thead class="table  table-striped text-black">
                    <tr>
                        <th>SistemaId</th>
                        <th>Descripcion</th>
                        <th>Complejidad</th>
                        
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sistema in ListaSistema)
                    {
                        <tr>
                            <td> @sistema.SistemaId</td>
                            <td> @sistema.Descripcion</td>
                            <td> @sistema.Complejidad</td>

                            
                            <td>
                                <a href="/Sistema/Edit/@sistema.SistemaId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer space-between">
            <label>Cantidad de sistema:  @ListaSistema.Count()</label>
    
        </div>
    </div>
</div>


@code {

    public List<Sistema> ListaSistema { get; set; } = new List<Sistema>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaSistema = await sistemaService.Listar(s=> s.SistemaId > 0);
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int sistemaId))
            {
                ListaSistema = await sistemaService.Listar(s => s.SistemaId == sistemaId);

            }
            else if  (Filtro == "Descripcion")
            {
                ListaSistema = await sistemaService.Listar(s => s.Descripcion.ToLower().Contains(ValorFiltro.ToLower()));
            }
            
        }
        else
            ListaSistema = await sistemaService.Listar(s => s.SistemaId > 0);
    }

    
   

}