@page "/Sistema/Create"
@inject SistemaService sistemaService
@rendermode InteractiveServer
@inject NavigationManager navigationManager

@*HTML*@
<PageTitle>Create</PageTitle>
<EditForm Model="sistema" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Sistema</h5>
            </div>

            <div class="card-body">
                @* Descripcion *@
                <div class="mb-3">
                    <label class="form-label"><strong>Descripcion</strong></label>
                    <InputText class="form-control" @bind-Value="sistema.Descripcion" />
                    <ValidationMessage For="(() => sistema.Descripcion)" />
                </div>

                @* Complejidad *@
                <div class="mb-3">
                    <label class="form-label"><strong>Complejidad</strong></label>
                    <InputText class="form-control" @bind-Value="sistema.Complejidad" />
                    <ValidationMessage For="(() => sistema.Complejidad)" />
                </div>

                @* Footer *@
                <div class="card-footer text-center mt-2">
                    <a href="/Sistema/Index" class="btn btn-secondary"> <span class="bi bi-arrow-left"></span> Volver</a>
                    <button type="submit" class="btn btn-primary bi bi-floppy"> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int SistemaId { get; set; }

    public Sistema sistema { get; set; } = new Sistema();

    public string? Message { get; set; } = string.Empty;

    public async Task Guardar()
    {
        if (await Validar())
        {
            Message = " ya existe el sistema con este nombre";
            return;
        }
        var crear = await sistemaService.Guardar(sistema);

        if (crear)
        {
            Message = "se ha creado";
            navigationManager.NavigateTo("/Sistema/Index");
        }
        else
        {
            Message = " no se ha podido crear ";
        }
    }
    private async Task<bool> Validar()
    {
        var existe = await sistemaService.ExisteSistema(sistema.SistemaId, sistema.Descripcion);
        return existe;
    }

    public void volver()
    {
        navigationManager.NavigateTo("/Sistema/Index");
    }

    public void Nuevo()
    {
        this.sistema = new Sistema();

    }
}
